@font-face {
  font-family:'Coiny', cursive;
  src: url('https://fonts.googleapis.com/css?family=Coiny');
}

* {
 margin: 0;
}
.wrapper {
width: 100%;
height: 100%;
}
aside {
  position: absolute;
  height: 350px;
  width: 15%;
	background-color: pink;
  border-radius: 10%;
}
#header {
  display: block;
}
.sonic {
  width: 100%;
  height: 200px;
}
h1 {
  font-family: 'Coiny', cursive;
  text-transform: capitalize;
  font-size: 200%;
}
#header, p {
  font-family: helvetica;
  font-weight: lighter;
  text-align: center;
}
img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  border: 3px dotted yellow;
  box-shadow: 4px 4px 0px yellow;
  }
a {
	text-decoration: none;
}

main {
display: flex;
justify-content: space-around;
margin-top: 10%;
margin-left: 15%;
}
section {
  align-self: stretch;
}
ol li {
  list-style-type: none;
  margin-bottom: 2%;
}

h2 {
  text-decoration: none;
  text-align: center;
  font-size: 40px;
  margin-bottom: 4%;
}
