@font-face {
  font-family:'Coiny', cursive;
  src: url('https://fonts.googleapis.com/css?family=Coiny');
}

* {
 margin: 0;
}
.wrapper {
display: flex;
}
aside {
	height: 100%;
	width: 15%;
	background-color: aquamarine;
}
#header {
  display: flex;
}

.sonic  {
  display: flex;
}
img {
  width: 20%;
  border: 3px dotted yellow;
  box-shadow: 4px 4px 0px yellow;
  }
a {
	text-decoration: none;
}
h1 {
  font-family: 'Coiny', cursive;
  text-transform: capitalize;
  font-size: 150%;
}
#header, p {
  font-family: helvetica;
  font-weight: lighter;
  text-align: center;
}

main {
display: flex;
justify-content: space-around;
margin: 15%;
}
section {
  align-self: stretch;
}
ol li {
  list-style-type: none;
}

h2 {
  text-decoration: underline;
  text-align: center;
  margin: 20px;
  font-size: 40px;
}
